@import "tailwindcss";

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('./assets/font/OpenSans/static/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/font/OpenSans/static/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/font/OpenSans/static/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

  @theme {
  --font-Montserrat: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;

    /* Color Variables */
    --color-primary: #000000;
    --color-primary-hover: #1a1a1a;
    --color-secondary: #333333;
    --color-secondary-hover: #4d4d4d;
    --color-success: #2ecc71;
    --color-success-hover: #27ae60;
    --color-warning: #e74c3c;
    --color-warning-hover: #c0392b;

    /* Backgrounds */
    --color-background: #F7F7F7;
    --color-background-dark: #000000;
    --color-card-bg: #F5F5F5;

    /* Borders */
    --color-border: #DDDDDD;

    /* Text */
    --color-text-primary: #000000;
    --color-text-secondary: #4D4D4D;
    --color-text-inverted: #FFFFFF;

    /* Accent */
    --color-accent: #AAAAAA;
    --color-accent-hover: #CCCCCC;
  }

